*, html{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
#root{
  margin-top: 240px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  font: normal normal bold 80px/90px Fira Sans;
  letter-spacing: -1.6px;
}
h2{
  font: normal normal bold 50px/60px Fira Sans;
  letter-spacing: -1px;

}
h3{
  font: normal normal bold 30px/30px Fira Sans;
  letter-spacing: -0.6px;
}
h5{
  font: normal normal bold 20px/20px Fira Sans;
  letter-spacing: -0.4px;
}

.btn{
  display: block;
  text-decoration: none;
  font: normal normal bold 20px/20px Roboto;
  background: #E61437 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 6px;
  width: 200px;
  height: 48px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}

